<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href='{{ url_for('index') }}' class="w3-bar-item w3-button"><b>Sanmeshkumar Udhayakumar Homepage</b></a>
    <!-- Float links to the right. Hide them on small screens -->
	<!--
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
	-->
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <!-- Welcome Section -->
  <div class="w3-container w3-padding-32" id="welcome">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Welcome</h3>
    <p>Description of project: This project is applying kmeans on the RGB values of an image.
    </p>
	<p>Applications: 
	<br>1. Color-based Image Segmentation
	<br> <a href="https://www.youtube.com/watch?v=yR7k19YBqiw">Visit our HTML tutorial</a>
	<br> <a href="https://www.mathworks.com/help/images/color-based-segmentation-using-k-means-clustering.html">Color Segmentation Article</a>	
	<br>2. Image compression
	<br> <a href="https://medium.com/@agarwalvibhor84/image-compression-using-k-means-clustering-8c0ec055103f">Article on image compression</a>
    </p>
	<p>How to use program: 
	<br>1. Upload an image you want to do kmeans RGB clustering on. It has to be a jpg or png.
	<br>2. Enter the number of clusters/colors you want to represent the image. If you want to try a bunch of different clusters all at once, enter 0 for the number of clusters.
	<br>3. Press the submit button.	
	</p>
	 <img src="{{url_for('static', filename='abe_kmeansIs12Sanmesh1.jpg')}}" alt="House" style="width:20%">
	 
	<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <br>
      Number of Clusters: <input type="number" name="quantity" min="0" max="30">
      <br>
      <input type=submit value=Upload>
    </form>
  </div>
  
  <!-- Example Images -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Examples</h3>
  </div>

  	<h1> Input Image </h1>
    <img src="{{url_for('static', filename='flowersSanmesh1.jpg')}}" alt="User Image" style="width:250px;height:250px;">
	<br>
	<br>
	<h1> Clustered Images</h1>
	<div class="w3-row-padding">

		<div class="w3-col l3 m6 w3-margin-bottom">
		  <div class="w3-display-container">
			<div class="w3-display-topleft w3-black w3-padding">Clusters = 3</div>
			<img src="{{url_for('static', filename='flowers_kmeansIs3Sanmesh1.jpg')}}" alt="House" style="width:250px;height:250px;">
		  </div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
		  <div class="w3-display-container">
			<div class="w3-display-topleft w3-black w3-padding">Clusters = 6</div>
			<img src="{{url_for('static', filename='flowers_kmeansIs6Sanmesh1.jpg')}}" alt="House" style="width:250px;height:250px;">
		  </div>
		</div>
		<div class="w3-col l3 m6 w3-margin-bottom">
		  <div class="w3-display-container">
			<div class="w3-display-topleft w3-black w3-padding">Clusters = 9</div>
			<img src="{{url_for('static', filename='flowers_kmeansIs9Sanmesh1.jpg')}}" alt="House" style="width:250px;height:250px;">
		  </div>
		</div>			
	</div>
  
<!-- 
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='dankMemesSanmesh.jpg')}}" alt="John" style="width:100%">
      <h3>John Doe</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/waifuLaifuSanmesh.jpg" alt="Jane" style="width:100%">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
      <h3>Dan Star</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>
 -->
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Name: Sanmeshkumar Udhayakumar</p>
	<p>Email: sanmesh1@gmail.com</p>
	<!--
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
	-->
  </div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a> and AWS</p>
</footer>

</body>
</html>
